@CHARSET "UTF-8";

.jumbotron {
	height: 500px;
	padding: 0;
	background-image: url("https://jh-studio.herokuapp.com/resources/images/apt3-1b.jpg");
	background-size: cover;
	background-position: 10%;
}

#head {
	background: rgba(0, 0, 0, 0.5);
}

a {
	color: white;
	font-size: 15pt;
}

a:hover {
	color: black;
	text-decoration: underline;
}
.search {
	text-align: center;
}

.information {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	padding: 50px;
}

.header {
	color: white;
}

.form-group {
	margin-top: 50px;
}

.container-fluid {
	text-align: center;
}

.signup {
	text-align: center;
}

#wait {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
