@CHARSET "UTF-8";

.heading {
	text-align: center;
}

.filters {
	float: left;
	margin-left: 100px;
	margin-top: 50px;
}

ul {
	list-style-type: none;
}

.results {
	width: 700px;
	height: auto;
	float: right;
	margin-left: 20px;
	margin-right: 150px;
	margin-top: 50px;
	text-align: center;
}

.jobs {
	width: 700px;
	float: right;
	margin-top: 0px;
	margin-right: 150px;
}

.work {
	border-style: solid;
	border-color: #BBBABA;
	height: 310px;
	background: white;
	margin-bottom: 5px;
}


.work .price {
	float: right;
	font-size: 12pt;
	margin-right: 50px;
}

.work #jobTitle {
	font-size: 20pt; 
	color: white;
}


.desc {
	width: 400px;
	height: 100px;
	margin-left: 30px;
}

.panel > .panel-heading {
    background-image: none;
    background-color: black;
}

.left {
	height: 50px;
}

.left h5 {
	float: left;
}

.available, .closed {
	float: right;
	width: 70px;
	height: 20px;
	border-radius: 25px;
	color: white;
	text-align: center;
	margin-top: 15px;
}

.available {
	background: green;
}

.closed {
	background: red;
}

.application {
	margin-left: 30px;
	margin-top: 30px;
}

.price {
	width: 200px
}

.desc {
	width: 350px;
}

.skills {
	height: 20px;	
}

hr {
	width: 97%;
}

#cat-list {
	display: none;
}

#not-available {
	font-size: 20pt;
}

@media only screen and (max-width: 640px) {
	#cat-list {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: 30px;
	}

	.filters {
		width: 80%;
		display: block;
		margin: 0 auto;
		float: none;
	}

	.filters a, hr, h3 {
		display: none;
	}

	.results {
		display: none;
	}

	.jobContainer {
		float: none;
		width: 100%;
		text-align: center;
	}

	.noJobs {
		width: 100%;
		display: block;
		margin: 0 auto;
		padding-right: 350px;
	}

	.jobs {
		float: none;
		width: 90%;
		display: block;
		margin: 15px auto;
	}

	.price {
		display: none;

	}

	.desc {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
	}

	.tag {
		float: none;
		display: inline-block;
	}

	#not-available {
		font-size: 15pt;
	}
	
	.left h5 {
		margin-top: 2px;
		float: none;
		margin-bottom: 0;
	}

	.available {
		float: none;
		display: block;
		margin: 4px auto;
	}
}


