@CHARSET "UTF-8";

.jumbotron h2 {
	text-align: center;
}

.signin {
	margin-left: 320px;
	margin-top: 50px;
}

#invalid {
	background: #F1948A;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 350px;
	height: 50px;
	padding-top: 13px;
	border-radius: 5px;
}

#invalid p {
	font-size: 12pt;
	font-family: 'Raleway', sans-serif;
}

#log {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#wait {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}