<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
 
<web-app>
	
  <servlet>
  	<servlet-name>SearchController</servlet-name>
  	<display-name>SearchController</display-name>
  	<description></description>
  	<servlet-class>SearchController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FinderController</servlet-name>
  	<display-name>FinderController</display-name>
  	<description></description>
  	<servlet-class>FinderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobController</servlet-name>
  	<display-name>JobController</display-name>
  	<description></description>
  	<servlet-class>JobController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationController</servlet-name>
  	<display-name>RegistrationController</display-name>
  	<description></description>
  	<servlet-class>RegistrationController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupController</servlet-name>
  	<display-name>SignupController</display-name>
  	<description></description>
  	<servlet-class>SignupController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FilterController</servlet-name>
  	<display-name>FilterController</display-name>
  	<description></description>
  	<servlet-class>FilterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PhoneController</servlet-name>
  	<display-name>PhoneController</display-name>
  	<description></description>
  	<servlet-class>PhoneController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LocationUpdateController</servlet-name>
  	<display-name>LocationUpdateController</display-name>
  	<description></description>
  	<servlet-class>LocationUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSkillController</servlet-name>
  	<display-name>AddSkillController</display-name>
  	<description></description>
  	<servlet-class>AddSkillController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JobSkillUpdaterController</servlet-name>
  	<display-name>JobSkillUpdaterController</display-name>
  	<description></description>
  	<servlet-class>JobSkillUpdaterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveJobController</servlet-name>
  	<display-name>RemoveJobController</display-name>
  	<description></description>
  	<servlet-class>RemoveJobController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewApplicantsController</servlet-name>
  	<display-name>ViewApplicantsController</display-name>
  	<description></description>
  	<servlet-class>ViewApplicantsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserSkillsController</servlet-name>
  	<display-name>UpdateUserSkillsController</display-name>
  	<description></description>
  	<servlet-class>UpdateUserSkillsController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfilLoaderController</servlet-name>
  	<display-name>ProfilLoaderController</display-name>
  	<description></description>
  	<servlet-class>ProfilLoaderController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminFilterController</servlet-name>
  	<display-name>AdminFilterController</display-name>
  	<description></description>
  	<servlet-class>AdminFilterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DownloadController</servlet-name>
  	<display-name>DownloadController</display-name>
  	<description></description>
  	<servlet-class>DownloadController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadProfilePictureController</servlet-name>
  	<display-name>UploadProfilePictureController</display-name>
  	<description></description>
  	<servlet-class>UploadProfilePictureController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SaveInfoController</servlet-name>
  	<display-name>SaveInfoController</display-name>
  	<description></description>
  	<servlet-class>SaveInfoController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadResume</servlet-name>
  	<display-name>UploadResume</display-name>
  	<description></description>
  	<servlet-class>UploadResume</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveTagController</servlet-name>
  	<display-name>RemoveTagController</display-name>
  	<description></description>
  	<servlet-class>RemoveTagController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePasswordController</servlet-name>
  	<display-name>UpdatePasswordController</display-name>
  	<description></description>
  	<servlet-class>UpdatePasswordController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>main</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchController</servlet-name>
  	<url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FinderController</servlet-name>
  	<url-pattern>/FinderController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobController</servlet-name>
  	<url-pattern>/JobController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationController</servlet-name>
  	<url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupController</servlet-name>
  	<url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FilterController</servlet-name>
  	<url-pattern>/FilterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PhoneController</servlet-name>
  	<url-pattern>/PhoneController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LocationUpdateController</servlet-name>
  	<url-pattern>/LocationUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSkillController</servlet-name>
  	<url-pattern>/AddSkillController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JobSkillUpdaterController</servlet-name>
  	<url-pattern>/JobSkillUpdaterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveJobController</servlet-name>
  	<url-pattern>/RemoveJobController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewApplicantsController</servlet-name>
  	<url-pattern>/ViewApplicantsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserSkillsController</servlet-name>
  	<url-pattern>/UpdateUserSkillsController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfilLoaderController</servlet-name>
  	<url-pattern>/ProfilLoaderController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminFilterController</servlet-name>
  	<url-pattern>/AdminFilterController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DownloadController</servlet-name>
  	<url-pattern>/DownloadController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadProfilePictureController</servlet-name>
  	<url-pattern>/UploadProfilePictureController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveInfoController</servlet-name>
  	<url-pattern>/SaveInfoController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadResume</servlet-name>
  	<url-pattern>/UploadResume</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RemoveTagController</servlet-name>
  	<url-pattern>/RemoveTagController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePasswordController</servlet-name>
  	<url-pattern>/UpdatePasswordController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>main</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>	
	<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>